/* region Cabeçalho */

.cabecalho {
    text-align: center;
    font-size: 0.6rem;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.23em;
    color: #fff;
    float: left;
    display: flex;
    margin-top: -16rem;
    margin-left: 22rem;
  }

  .cabecalho__logo {
    padding: 1.5em 0;
    width: 14.5em;
  }
  
  .cabecalho__item-menu {
    display: inline-block;
  }
  
  .cabecalho__item-menu a {
    text-decoration: none;
    display: inline-block;
    padding: 1.86em 1.42em;
    color: #ffffff;
    font-size: 13px;
  }

  #cabecalho_main{
    font-size: 25px;
    color: #38B6FF;
  }
  /* endregion Cabeçalho */