:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

/* region Cabeçalho */

.cabecalho {
    text-align: center;
    font-size: 0.6rem;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.23em;
    color: #fff;
    float: left;
    display: flex;
    margin-top: -16rem;
    margin-left: 22rem;
  }

  .cabecalho__logo {
    padding: 1.5em 0;
    width: 14.5em;
  }
  
  .cabecalho__item-menu {
    display: inline-block;
  }
  
  .cabecalho__item-menu a {
    text-decoration: none;
    display: inline-block;
    padding: 1.86em 1.42em;
    color: #ffffff;
    font-size: 13px;
  }

  #cabecalho_main{
    font-size: 25px;
    color: #38B6FF;
  }
  /* endregion Cabeçalho */

  /* region Conteúdo */

  /* ########## Sobre a Bisafe ########## */
  .home{
    margin-top: 15rem;
    margin-left: -3rem;
  }

  #welcome{
    font-size: 1.05rem;
  }

  #bem_vindo{
    display: flex;
    float: left;
    margin-top: -4rem;
    margin-left: 18rem;
  }

  #security{
    display: flex;
    float: left;
    margin-top:-1rem;
    margin-left: -23rem;
    font-size: 1.5rem;

  }

  #know{
    margin-top: 15rem;
    margin-left: -25rem;
    display: flex;
    float: left;
  }

  .btn-53,
  .btn-53 *,
  .btn-53 :after,
  .btn-53 :before,
  .btn-53:after,
  .btn-53:before {
    border: 0 solid;
    box-sizing: border-box;
  }
  
  .btn-53 {
    -webkit-tap-highlight-color: transparent;
    -webkit-appearance: button;
    background-color: #000;
    background-image: none;
    color: #fff;
    cursor: pointer;
    font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
      Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
      Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
    font-size: 75%;
    line-height: 0.1;
    margin: 0;
    -webkit-mask-image: -webkit-radial-gradient(#000, #fff);
    padding: 0;
    display: flex;
    float: left;
    margin-top: 12rem;
    margin-left: -26rem;
  }
  
  .btn-53:disabled {
    cursor: default;
  }
  
  .btn-53:-moz-focusring {
    outline: auto;
  }
  
  .btn-53 svg {
    display: block;
    vertical-align: middle;
  }
  
  .btn-53 [hidden] {
    display: none;
  }
  
  .btn-53 {
    border: 1px solid;
    border-radius: 999px;
    box-sizing: border-box;
    display: block;
    font-weight: 900;
    overflow: hidden;
    padding: 1.2rem 3rem;
    position: relative;
    text-transform: uppercase;
  }
  
  .btn-53 .original {
    background: #fff;
    color: #000;
    display: grid;
    inset: 0;
    place-content: center;
    position: absolute;
    transition: transform 0.2s cubic-bezier(0.87, 0, 0.13, 1);
  }
  
  .btn-53:hover .original {
    transform: translateY(100%);
  }
  
  .btn-53 .letters {
    display: inline-flex;
  }
  
  .btn-53 span {
    opacity: 0;
    transform: translateY(-15px);
    transition: transform 0.2s cubic-bezier(0.87, 0, 0.13, 1), opacity 0.2s;
  }
  
  .btn-53 span:nth-child(2n) {
    transform: translateY(15px);
  }
  
  .btn-53:hover span {
    opacity: 1;
    transform: translateY(0);
  }
  
  .btn-53:hover span:nth-child(2) {
    transition-delay: 0.1s;
  }
  
  .btn-53:hover span:nth-child(3) {
    transition-delay: 0.2s;
  }
  
  .btn-53:hover span:nth-child(4) {
    transition-delay: 0.3s;
  }
  
  .btn-53:hover span:nth-child(5) {
    transition-delay: 0.4s;
  }
  
  .btn-53:hover span:nth-child(6) {
    transition-delay: 0.5s;
  }
  
  .bike_photos{
    display: flex;
    float: left;
    width: 50px;
    height: 30rem;
    margin-left: 45rem;
    margin-top: -22rem;
    
  }

  .partners{
    display: inline;
    float: left;
    margin-left: -20rem;
    margin-top: 5rem;
  }

  #microsoft{
    margin-left: -20rem;
    margin-top: 0.5rem;
  }
  #porto{
    margin-left: -5rem;
  }
  #ibm{
    margin-left: 10rem;
    margin-top: -2rem;
  }

  #about_bisafe{
    display: flex;
    float: left;
    font-size: 1.75rem;
    margin-left: -30rem;
    margin-top: 22rem;
  }

  #about_mission{
    display: flex;
    float: left;
    font-size: 1.5rem;
    margin-left: 35rem;
    margin-top: 12rem;
  }

  .about_line{
    position: relative;
    width: 7vw;
    float: left;
    margin-top: -2.5rem;
    margin-left: 19em;
  }

  /* ########## end Sobre a Bisafe ########## */

  /* ########## Oferecemos ########## */

  .we_offer{
    display: flex;
    float: left;
    margin-top: 10rem;
    margin-left: 32rem;
  }

  .we_offer_line{
    position: relative;
    width: 90vw;
    float: left;
    margin-top: 5rem;
    margin-left: 2rem;
  }
  /* Facilidade */
  #facility{
    display: flex;
    float: right;
    margin-top: 5rem;
    margin-right: 69rem;
  }

  #facilidade{
    display: flex;
    float: right;
    margin-top: -0.1rem;
    margin-right: 70rem;
  }

  #about_facility{
    display: flex;
    float: right;
    margin-top: -0.3rem;
    margin-right: 53rem;
    font-style: italic ;
    font-weight: bold;
  }
  /* Agilidade */
  #agility{
    display: flex;
    float: right;
    margin-top: -19rem;
    margin-right: 39rem;
  }
  
  #agilidade{
    display: flex;
    float: right;
    margin-top: -10.9rem;
    margin-right: 41rem;
  }
  #about_agility{
    display: flex;
    float: right;
    margin-top: -7.3rem;
    margin-right: 26.5rem;
    font-style: italic ;
    font-weight: bold;
  }

  /* Eficiência */

  #efficiency{
    display: flex;
    float: right;
    margin-top: -21rem;
    margin-right: 15rem;
  }
  
  #eficiencia{
    display: flex;
    float: right;
    margin-top: -11rem;
    margin-right: 15.5rem;
  }
  #about_efficiency{
    display: flex;
    float: right;
    margin-top: -7.3rem;
    margin-right: 1rem;
    font-style: italic ;
    font-weight: bold;
  }
  /* Redução */

  #reduction{
    display: flex;
    float: right;
    margin-top: 1rem;
    margin-right: 55rem;
  }
  
  #reducao{
    display: flex;
    float: right;
    margin-top: -4rem;
    margin-right: 61rem;
  }
  #about_reduction{
    display: flex;
    float: right;
    margin-top: -1rem;
    margin-right: 40rem;
    font-style: italic ;
    font-weight: bold;
  }
  /* Experiência */

  #experience{
    display: flex;
    float: right;
    margin-top: -17rem;
    margin-right: 26rem;
  }
  
  #experiencia{
    display: flex;
    float: right;
    margin-top: -9.5rem;
    margin-right: 28rem;
  }
  #about_experience{
    display: flex;
    float: right;
    margin-top: -7rem;
    margin-right: 7rem;
    font-style: italic ;
    font-weight: bold;
  }


  /* Nossos Planos */

  #plan{
    display: flex;
    float: left;
    margin-top: 8rem;
    margin-left: 35rem;
  }

  .plan_line{
    position: relative;
    width: 10vw;
    float: left;
    margin-top: 11.5rem;
    margin-left: -10.8rem;
  }
  /* endregion Conteúdo */